{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div style="padding-top: 20px;">
        {% for category, message in messages %}
            {% if category == 'success' %}
                <div class="alert alert-success alert-dismissable">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <i class="icon-ok-sign"></i>
                    {{ message }}
                </div>
            {% elif category == 'error' %}
                <div class="alert alert-danger alert-dismissable">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <i class="icon-remove-sign"></i>
                    {{ message }}
                </div>
            {% elif category == 'warning' %}
                <div class="alert alert-warning alert-dismissable">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <i class="icon-exclamation-sign"></i>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-info alert-dismissable">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <i class="icon-info-sign"></i>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
