{% macro display_row_field(label, value, url='') -%}
    <div class="row">
        <div class="col-md-3 text-right">{{ label }}</div>
        {% if url=='' %}
        <div class="col-md-9 text-left">{{ value }}</div>
        {% else %}
        <div class="col-md-9 text-left"><a href="{{ url }}">{{ value }}</a></div>
        {% endif %}
    </div>
{% endmacro %}
