<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Florian Saachs">
    <link rel="icon" href="../../favicon.ico">

    <title>DIWA Example for container {{ container.name }} of project {{ project.name }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  </head>

  <body>
    <div class="container">
       <div class="page-header">
          <h1>DIWA Example for container {{ container.name }} of project {{ project.name }}</h1>
       </div>
       <hr>

  <?php date_default_timezone_set('UTC'); ?>

    {% if container.containers_without_sample|length > 0 %}
        <h3>Containers without an Code Example</h3>
        <ul>
            {% for c in container.containers_without_sample %}
                <li>{{ c }}</li>
            {% endfor %}
        </ul>
    {% endif %}


{% for chunk in container.chunk_filenames %}
    {% include chunk %}
{% endfor %}


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>

