<!--- ELK LOGGING ---->
<h3>Logging</h3>

<!--- PHP Stuff --->
<?php

require 'vendor/autoload.php';
use Monolog\Logger;
use Monolog\Formatter\LogstashFormatter;
use Monolog\Handler\SocketHandler;

try {
    $LOGSTASH_HOST = getenv("LOGSTASH_HOST") ? getenv("LOGSTASH_HOST") : "NOTSET";
    $LOGSTASH_PORT = getenv("LOGSTASH_PORT") ? getenv("LOGSTASH_PORT") : "NOTSET";
    $socket_handler = "udp://$LOGSTASH_HOST:$LOGSTASH_PORT";

    $logger = new Logger('DIWA');
    $handler = new SocketHandler($socket_handler, Logger::DEBUG);
    $formatter = new LogstashFormatter('DIWA');
    $handler->setFormatter($formatter);
    $logger->pushHandler($handler);

    $logger->addInfo("Testing Diwa Info");
    $logger->addDebug("Testing Diwa Debug");
} catch (Exception $e) { ?>
    <div class="alert alert-danger"><?php echo 'Caught exception: ',  $e->getMessage(), "\n"; ?>;</div>
    <?php } ?>

<!--- Output the HTML Code --->
<p>Logstash Host and Ports are in the Environment Variables <strong>LOGSTASH_HOST</strong> and <strong>LOGSTASH_PORT</strong></p>
<div class="row">
    <div class="col-md-3 text-right">Logstash Host</div>
    <div class="col-md-9 text-left"><?php echo $LOGSTASH_HOST; ?></div>
</div>
<div class="row">
    <div class="col-md-3 text-right">Logstash Port</div>
    <div class="col-md-9 text-left"><?php echo $LOGSTASH_PORT; ?></div>
</div>
<div class="row">
    <div class="col-md-3 text-right">Logstash Sockethandler</div>
    <div class="col-md-9 text-left"><?php echo $socket_handler; ?></div>
</div>
