<!-- POSTGRES -->
<h3>PostgreSQL</h3>
<!--- PHP Stuff -->
<?php
    $POSTGRES_HOST = getenv('POSTGRES_HOST') ? getenv('POSTGRES_HOST') : 'db';
    $POSTGRES_PORT = getenv('POSTGRES_PORT') ? getenv('POSTGRES_PORT') : 5432;
    $POSTGRES_PASSWORD = getenv('POSTGRES_ENV_POSTGRES_PASSWORD') ? getenv('POSTGRES_ENV_POSTGRES_PASSWORD') : 'NO_PASSWORD_SET';
    $connection_string = "host=$POSTGRES_HOST port=$POSTGRES_PORT dbname=postgres user=postgres password=$POSTGRES_PASSWORD";
    $conn = pg_connect($connection_string);
    $result = pg_query($conn, "select version();");
    $version = $result ? pg_fetch_row($result)[0] : "Query Failed";
?>      

<!-- HTML Outpuf --->
<p>The Hostname of the Postgres Database is aliased with <strong>db</strong>. The Postgres Default Port is <strong>5432</strong>. The Passwort for the Database Superuser named <strong>postgres</strong> ist provided by the Environment Variable <strong>POSTGRES_ENV_POSTGRES_PASSWORD</strong></p>
<div class="row">
    <div class="col-md-3 text-right">Database Host</div>
    <div class="col-md-9 text-left"><?php echo $POSTGRES_HOST; ?></div>
</div>
<div class="row">
    <div class="col-md-3 text-right">Database Port</div>
    <div class="col-md-9 text-left"><?php echo $POSTGRES_PORT; ?></div>
</div>
<div class="row">
    <div class="col-md-3 text-right">Postgres Password</div>
    <div class="col-md-9 text-left"><?php echo $POSTGRES_PASSWORD; ?></div>
</div>
<div class="row">
    <div class="col-md-3 text-right">Connection String</div>
    <div class="col-md-9 text-left"><?php echo $connection_string; ?></div>
</div>
<div class="row">
    <div class="col-md-3 text-right">Database Version</div>
    <div class="col-md-9 text-left"><?php echo $version; ?></div>
</div>
