{% extends 'base.html' %}
{% from "includes/show_fields.html" import display_row_field %}
{% from "includes/bootstrap_form_macros.html" import render_form %}
{% block title %}DIWA - Project {{ project.name }} {% endblock title %}
{% block main %}
<h1>Container {{ project.name }} - {{ container.name }} - Ports</h1>
    <h3>{{ container.name }}</h3>
    Enter 0 (Zero) to disable the forwading of the container port to the host.
    {{ render_form(form, action_url=url_for('container_action', project=project.name, container=container.name, action='editports'), action_text='Submit Form') }}

{% endblock main %}
