{% extends 'base.html' %}
{% from "includes/show_fields.html" import display_row_field %}
{% block title %}DIWA - Project {{ project.name }} {% endblock title %}
{% block main %}
<h1>Container {{ project.name }} - {{ container.name }}</h1>
<pre>
{{ container.logs|safe }}
</pre>

{% endblock main %}
