{% extends 'base.html' %}
{% from "includes/show_fields.html" import display_row_field %}
{% block title %}DIWA - Project {{ project.name }} - Container {{ container.name }}{% endblock title %}
{% block main %}

<div class="row">
    <div class="md-12">
        <h1>Remove Container {{ project.name }} - {{ container.name }}</h1>
        Remove container <strong>{{ container.name }}</strong> from project <strong>{{ project.name }}</strong>?
        The Volumecontents in <strong>_/logs/{{ container.name }}</strong> and <strong>{{ container.name }}/volumes</strong>will <strong>not</strong> be removed.
         <hr>
        <a class="btn btn-danger" href="{{ url_for('container_action', project=project.name, container=container.name, action='reallyremove') }}" role="button">Remove Container</a>
        <a class="btn btn-default" href="{{ url_for('project_detail', project=project.name) }}" role="button">Take be back to the project</a>
    </div>
</div>
{% endblock main %}
