{% extends 'base.html' %}
{% from "includes/show_fields.html" import display_row_field %}
{% from "includes/bootstrap_form_macros.html" import render_form %}
{% block title %}DIWA - Add Container to {{ project.name }}  {% endblock title %}
{% block main %}

    <h3>Add container to project {{ project.name }}</h3>
    {% if used_classes %}
        The following containers are already present in the project.
        <ul>
            {% for c in used_classes %}
                <li><strong>{{ c.__name__ }}</strong> :: {{ c.description }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<hr>
{{ render_form(form, action_url=url_for('project_action', action='addcontainer', project=project.name), action_text='Submit Form') }}

{% endblock main %}
