{% extends 'base.html' %}
{% from "includes/show_fields.html" import display_row_field %}
{% block title %}DIWA - Projects {% endblock title %}
{% block main %}
<h1>Projects</h1>
<hr>
    <div class="row">
        <div class="col-md-3 text-right"></div>
        <div class="col-md-9 text-left">
            <a class="btn btn-primary" href="{{ url_for('project_new') }}" role="button">Create new DIWA Project</a>
        </div>
    </div>

{% for name, project in projects.items() %}
    <hr>
    <h3>{{ name }}</h3>
    {{ display_row_field('Projectname', project.name) }}
    {{ display_row_field('Path', project.abspath) }}
    <div class="row">
        <div class="col-md-3 text-right">Container</div>
        <div class="col-md-9 text-left">
            {% for container in project.containers %}
                {{ container.name }} <br>
            {% endfor %}
        </div>
    </div>
    {{ display_row_field('Containers Running', project.containers_running) }}
    {{ display_row_field('Containers Stopped', project.containers_stopped) }}
    <div class="row">
        <div class="col-md-3 text-right"></div>
        <div class="col-md-9 text-left">
            <a class="btn btn-primary" href="{{ url_for('project_detail', project=project.name) }}" role="button">Goto Project {{ project.name }}</a>
        </div>
    </div>
{% endfor %}
{% endblock main %}
