{% extends 'base.html' %}
{% from "includes/show_fields.html" import display_row_field %}
{% block title %}DIWA - Project {{ project.name }} {% endblock title %}
{% block main %}
<h1>Project {{ project.name }}</h1>
    <hr>
        <div class="row">
            <div class="col-md-3 text-right"></div>
            <div class="col-md-9 text-left">
                {% if project.has_containers > 0 %}
                <a class="btn btn-primary" href="{{ url_for('project_action', project=project.name, action='up') }}" role="button">Fig up</a>
                <a class="btn btn-primary" href="{{ url_for('project_action', project=project.name, action='stop') }}" role="button">Fig stop</a>
                {% endif %}
                <a class="btn btn-primary" href="{{ url_for('project_action', project=project.name, action='addcontainer') }}" role="button">Add Container</a>
            </div>
        </div>
        {% if project.public_ports|length == 0 and project.has_containers %}
        <div class="row">
            <div class="col-md-12 text-left top20">
            <div class="alert alert-danger">There are no public ports defined in the project</div>
         </div>
         </div>
        {% endif %}

{% for container in project.containers %}
    <hr class="hr-delimiter">
    <h3 class="hightlight">{{ container.name }}</h3>

    <div class="row">
       {% if container.is_devel_container %}{% set container_type="Development Container" %}{% else %}{% set container_type="Suplementary Container" %}{% endif %}

        <div class="col-md-3 text-left"></div>
        <div class="col-md-9 text-left">
        {% if container.is_running %}
            <a class="btn btn-danger" href="{{ url_for('container_action', project=project.name, container=container.name, action='stop') }}" role="button">Stop Container</a>
        {% else %}
            <a class="btn btn-success" href="{{ url_for('container_action', project=project.name, container=container.name, action='start') }}" role="button">Start Container</a>
        {% endif %}
        <a class="btn btn-info" href="{{ url_for('container_action', project=project.name, container=container.name, action='logs') }}" role="button">Show Logs</a>
        <a class="btn btn-info" href="{{ url_for('container_action', project=project.name, container=container.name, action='editports') }}" role="button">Edit Ports</a>
        <a class="btn btn-warning" href="{{ url_for('container_action', project=project.name, container=container.name, action='remove') }}" role="button">Remove from Project</a>
        </div>
    </div>

    {{ display_row_field('Containertype', container_type) }}
    {{ display_row_field('Containername', container.name) }}
    {{ display_row_field('Description', container.description) }}
    {{ display_row_field('Image', container.image) }}
    {{ display_row_field('Hostname', container.hostname) }}
    {{ display_row_field('Available Ports', container.ports|join(', ')) }}
    {{ display_row_field('Public Exposed Ports', container.public_ports_list|join(', ')) }}
    {{ display_row_field('Volumes', container.volumes|join('<br>')|safe) }}
    {{ display_row_field('Environment', container.environment_list|join('<br>')|safe) }}
    {% if container.is_devel_container%}
    <h4>Development Configuration</h4>
    {{ display_row_field('Development Directory', container.development_dir) }}
    <div class="row">
        <div class="col-md-3 text-left"></div>
        <div class="col-md-9 text-left">
            <a class="btn btn-primary" href="{{ url_for('sample_code', project=project.name, container=container.name) }}" role="button">Sample Source Code</a>
            <a class="btn btn-primary" href="{{ url_for('write_live_demo', project=project.name, container=container.name) }}" role="button">Write Live Demo File</a>
        </div>
    </div>
    {% endif %}


{% endfor %}
{% endblock main %}
