{% extends 'base.html' %}
{% from "includes/show_fields.html" import display_row_field %}
{% from "includes/bootstrap_form_macros.html" import render_form %}


{% block title %}DIWA - Sample Sourcecode for container {{ container.name }} of project {{ project.name }}{% endblock title %}
{% block main %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

{% for name, chunk in container.sample_chunks %}
<h3>{{ name }}</h3>
<pre><code>{{ chunk }}</code></pre>
{% endfor %}
{% endblock main %}
